.container{
    width: 100vw;
    height: 40%;

    background: rgba(0, 0, 0, 0.5);

    padding-top: 3%;
    padding-left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-x: auto;

    position: relative;
}

.container::-webkit-scrollbar{
    display: none;
}

.container h3{
    position: fixed;
    bottom: 30%;

    color: #d5d5d5;
    font-weight: 600;
    font-size: x-large;
}

.container .innerContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .innerContainer img{
    width: 28%;
    margin-right: 10%;

    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #2EFF9B, #00EFD2);
}

.container .innerContainer div{
    width: 10%;
    color: transparent;
}