.card{
    width: 100%;
    height: fit-content;

    margin-bottom: 5%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #2EFF9B, #00EFD2);
}

.card img{
    width: 100%;

    transition: 0.25s ease-in-out;
}

.card .imgOverlap{
    position: absolute;
    
    display: block;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.card .imgOverlap a{
    width: 15%;

    margin: 2vw;
    padding: 4%;

    visibility: collapse;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #252525;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #2EFF9B, #00EFD2);

    transition: 0.25s ease-in-out;
}

.card .imgOverlap .rprt{
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, orangered, crimson);
}

.card .imgOverlap a:hover{
    background: linear-gradient(to right, #2EFF9B, #00EFD2);
}

.card .imgOverlap .rprt:hover{
    background: linear-gradient(to right, orangered, crimson);

    transition: 0.25s ease-in-out;
}

.card .imgOverlap a:hover img{
    filter: brightness(0);
}

.card:hover .imgOverlap{
    display: flex;

    opacity: 1;
}

.card:hover .imgOverlap a {
    visibility: visible;
}

.card:hover img{
    filter: brightness(0.5);
}

@media only screen and (max-width: 900px){

    .card .imgOverlap a{
        width: 20%;

        margin: 1vw;
    }

}

@media only screen and (max-width: 600px){

    .card .imgOverlap a{
        width: 25%;

        margin: 0.5vw;
    }

}