@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto:wght@500;700&display=swap');

.navBar {
    width: 100%;
    height: 15vh;
    background: #252525;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: Roboto, sans-serif;
}

.navBar .search {
    width: 35%;
    height: 100%;

    padding: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navBar .menu {
    width: 50%;
    height: 100%;

    padding: 1vw;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navBar .menu a {
    margin: 0px 1.2vw;

    font-size: 1.4vw;
    color: #656565;
    font-weight: 700;

    transition: 0.25s ease-in-out;
}

.navBar .menu a:hover {
    color: #d5d5d5;
}


.logIn {
    margin-right: 0px;
    padding: 0.2vw 3vw;

    cursor: pointer;

    color: #d5d5d5;
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #2EFF9B, #00EFD2);

}

.logIn:hover {
    color: #252525;
    background: linear-gradient(to right, #2EFF9B, #00EFD2);
}

.navBar .menu .loggedIn {
    margin-right: 0px;
    color: #2EFF9B;

    cursor: pointer;

    transition: 0.25s ease-in-out;
}

.navBar .menu .loggedIn:hover {
    color: #2EFF9B;
}

.dropdown {
    position: relative;
    z-index: 10;
}

.dropdowncontent {
    display: none;

    width: 100%;

    margin: 0;
    margin-left: 0.3vw;

    position: absolute;

    background: #252525;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #2EFF9B, #00EFD2);
}

.dropdowncontent .item {
    color: #656565;
    font-size: 0.9vw !important;
    text-decoration: none;
    cursor: pointer;

    margin: 0.7vw 0px !important;

    transition: 0.25s ease-in-out;
}

.dropdowncontent .item:hover {
    color: #d5d5d5;
}

.dropdown:hover .dropdowncontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navBar .search .searchBar {
    width: 100%;
    height: 45%;

    border: 3px solid #656565;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar .search .searchBar:focus-within {
    border: 3px solid #959595;
}

.navBar .search .popularSearch {
    width: 100%;
    height: 45%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar .search .searchBar button {
    height: 100%;
    width: 6%;

    background: transparent;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar .search .searchBar button img {
    width: 100%;
}

.navBar .search .searchBar input {
    height: 100%;
    width: 94%;

    color: #656565;
    background: transparent;
    border: none;
    font-size: medium;
}

.navBar .search .searchBar input:active {
    outline: none;
}

.navBar .search .searchBar input:focus {
    outline: none;
}

.navBar .search .searchBar input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #454545;
    /* Firefox */
    opacity: 1;
}

.navBar .search .searchBar input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #454545;
}

.navBar .search .searchBar input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #454545;
}

.navBar .search .popularSearch h3 {
    color: #656565;

    font-size: 1.4vw;
}

.navBar .search .popularSearch div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navBar .search .popularSearch div a {
    color: #656565;

    margin: 0vw 0.3vw;

    font-size: 1vw;
}

.navBar .search .popularSearch div a:last-child {
    margin-right: 0px;
}

.mobileMenuIcon{
    display: none;

    width: 3vw;

    margin-right: 3vw;

    transition: 0.25s ease-in-out;
}

.mobileMenuIcon img{
    width: 100%;
}

.mobileMenuIcon:hover{
    transform: rotateZ(-90deg);
}

.sideMenu{
    position: fixed;
    top: 0;
    right: -26vw;

    width: 25vw;
    height: 100vh;

    background-color: #252525;
    border-left: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom, #2EFF9B, #00EFD2);

    display: flex;
    justify-content: center;
    align-items: center;


    z-index: 10;

    transition: 0.35s ease-in-out;
}

.sideMenu div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sideMenu .sideMenuItem{
    margin: 2vw 0vw;
    font-size: 3vw;
    color: #656565;
    font-weight: 700;

    padding: 0vw 1vw;

    border-left: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #2EFF9B, #00EFD2);

    transition: 0.25s ease-in-out;
}

.sideMenu .sideMenuItem:hover{
    background: linear-gradient(to right, #2EFF9B, #00EFD2);
}

.sideMenu .sideMenuUserName{
    font-size: 6vw;
    color: #2EFF9B;
    font-weight: 700;
    margin-bottom: 0;
}

.sideMenu .sideMenuItem_2{
    margin: 1vw 0vw;
    margin-left: 1vw;
    font-size: 2.75vw;
    color: #656565;
    font-weight: 700;

    padding: 0vw 1vw;

    border-left: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #2EFF9B, #00EFD2);

    transition: 0.25s ease-in-out;
}

.sideMenu .sideMenuItem_2:hover{
    background: linear-gradient(to right, #2EFF9B, #00EFD2);
}

.mobileMenuIcon:hover + .sideMenu {
    right: 0;
}

.sideMenu:hover{
    right: 0;
}

@media only screen and (max-width: 900px) {

    .navBar{
        height: 10vh;
    }

    .navBar .search {
        width: 50%;

        padding-left: 3vw;

        justify-content: center;
    }

    .navBar .menu{
        display: none;
    }

    .logIn{
        margin: 2vw 0vw;
    }

    .navBar .search .popularSearch {
        display: none;
    }

    .navBar .mobileMenuIcon{
        display: block;

        width: 4vw;
    }
}

@media only screen and (max-width: 600px) {

    .navBar .search {
        width: 65%;

        padding-left: 3vw;

        justify-content: center;
    }

    .navBar .search .searchBar button{
        width: 10%;
    }

    .navBar .search .searchBar input{
        font-size: 3vw;
    }

    .navBar .mobileMenuIcon{
        width: 5vw;
    }

    .navBar .sideMenu{
        right: -36vw;
        
        width: 35vw;
    }

    .navBar .sideMenu .sideMenuItem{
        font-size: 4vw;
    }

}
